.about {
  width: 550px;
  margin: 0 auto;
  text-align: center;
  font-family: $raleway;
  margin-bottom: 80px;

  h3 {
    color: $light-green;
    border-bottom: 2px solid $persian-green;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 30px;
    width: 400px;
  }

  p {
    padding-bottom: 5px;
  }

  .question {
    margin-bottom: 15px;
  }

  .very {
    color: $light-green;
    font-size: 18px;
  }
}
