// $charcoal: #202729;
// $charcoal2: #2d3335;
// $persian-green: #ff6200;
// $light-green: #fc9313;

// $charcoal: #efefef;
// $charcoal2: #d7d7d7;

// $persian-green: #69b357;
// $light-green: #72c95c;

// $persian-green: #112d32;
// $light-green: #72c95c;
// $charcoal: #88bdbc;
// $charcoal2: #254e58;

$charcoal: #3aafa9;
$light-charcoal: #36eee5;
$charcoal2: #2b7a78;
$persian-green: #17252a;
$light-green: #def2f1;
$background: #17252ad7;

// $persian-green: #254e58;
// $light-green: #254e58;

// $charcoal: #202729;
// $charcoal2: #2d3335;
// $persian-green: #c91d1d;
// $light-green: #ed0000;

// $persian-green: #3aafa9;
// $light-green: #2b7a78;
// $charcoal: #efefef;
// $charcoal2: #d7d7d7;
