.return a {
  color: $persian-green;
  text-decoration: none;
  position: relative;
  top: -40px;
}

.return a:hover {
  color: $light-green;
}

.single-message {
  display: flex;
  border: 1px solid $persian-green;
  width: 800px;
  font-family: $raleway;
  color: $light-green;
  background-color: $background;

  .message-picture {
    height: 200px;
    width: 200px;
    background-size: cover;
    margin-right: 10px;
  }

  .message-info {
    width: 580px;
    position: relative;

    .top-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 5px;

      .headline {
        font-weight: bold;
        color: $light-charcoal;
        font-size: 18px;
      }

      .options {
        display: flex;
        font-size: 14px;

        p {
          padding-left: 10px;
        }

        button {
          background-color: transparent;
          border: none;
          color: $light-green;
          padding: 0;
        }

        p:hover,
        button:hover {
          color: $light-charcoal;
        }
      }
    }

    .sender {
      margin-bottom: 10px;
      border-bottom: 1px solid $light-charcoal;
      padding-bottom: 5px;

      a {
        color: $light-green;
        text-decoration: none;
      }

      a:hover {
        color: $light-charcoal;
      }
    }

    .message {
      font-style: italic;
      font-size: 16px;
    }

    .date {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 5px;
      right: 5px;

      p {
        padding-left: 15px;
        font-family: sans-serif;
      }
    }
  }
}
