nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $persian-green;
    height: 50px;
    margin-bottom: 50px;
    padding: 0;

    .search-area form {
      display: flex;

      .select-type {
        font-size: 14px;
        background-color: $persian-green;
        color: white;
        border: none;
        margin-right: 5px;
      }

      .text-input {
        border: 1px solid $charcoal;
        background-color: $persian-green;
        color: $light-green;
        font-size: 14px;
        margin-right: 5px;
        width: 150px;
      }

      .form-field-submit {
        padding: 0;

        input {
          font-size: 14px;
          padding: 2px 5px;
          color: $persian-green;
          background-color: $charcoal;
          border: none;
        }

        input:hover {
          background-color: $light-green;
        }
      }
    }

    .nav-links {
      display: flex;
      justify-content: space-evenly;
    }

    .nav-messages {
      display: flex;
      margin: 0;
      cursor: pointer;

      i {
        font-size: 35px;
        color: $light-green;
        margin: 0;
        padding: 0;
      }
      .unread {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $persian-green;
        color: $light-charcoal;
        border-radius: 10px;
        width: 20px;
        height: 20px;
        position: relative;
        left: -27px;
        top: 7px;

        p {
          margin: 0;
        }
      }
    }
  }
}

.offcanvas {
  background-color: $charcoal;

  ul {
    list-style: none;
    margin-top: 40px;
  }

  a {
    color: $light-green;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 18px;
  }

  button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: $light-green;
    padding: 0;
  }

  a:hover,
  button:hover {
    color: $persian-green;
  }
}
