.user-list {
  ul {
    list-style: none;
  }
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 150px;
  border: 1px solid grey;
  margin-bottom: 20px;
  background-color: $light-green;

  .user-card-image {
    width: 85px;
    height: 85px;
    background-size: cover;
    margin-left: 5px;
  }

  .user-card-info {
    color: $charcoal;
    display: flex;
    width: 480px;
    height: 140px;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10px;

    .top-line {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      a {
        color: $persian-green;
        text-decoration: none;
      }
    }

    .bio {
      font-style: italic;
      margin-bottom: 5px;
    }

    .workout-types {
      display: flex;
      flex-wrap: wrap;

      .workout-type {
        padding-right: 15px;
      }
    }

    .bottom-line {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
