.shout-page {
  width: 800px;
  font-family: $raleway;

  .create-link {
    position: relative;
    top: -40px;

    .create {
      color: $persian-green;
      border: none;
      background-color: transparent;
    }

    .create:hover {
      color: white;
    }
  }
}

.shout-list {
  display: flex;
  justify-content: center;

  ul {
    list-style: none;
    padding-left: none;
  }

  .shout {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    background-color: $background;
    border-radius: 5px;

    .shout-image {
      height: 80px;
      width: 80px;
      background-size: cover;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .shout-info {
      width: 520px;
      margin-left: 10px;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .top-row {
        width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
        border-bottom: 1px solid $light-charcoal;

        a {
          margin-bottom: 0;
          color: $light-charcoal;
          text-decoration: none;
          font-size: 18px;
          padding: none;
          padding-left: 5px;
        }

        a:hover {
          color: $light-green;
        }
      }

      .date {
        display: flex;
        justify-content: flex-end;
        width: 150px;
        font-family: sans-serif;

        p {
          padding: 5px 5px 0 5px;
          margin-bottom: 0;
          color: $charcoal2;
          font-size: 12px;
        }
      }

      .shout-message {
        width: 510px;

        p {
          margin-bottom: 0;
          font-size: 14px;
          color: white;
          padding: 0 5px;
        }
      }

      .user-links {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 2px;
        right: 5px;

        .user-link {
          cursor: pointer;
        }

        p {
          padding-left: 10px;
          color: rgb(198, 198, 198);
          font-size: 12px;
        }

        .likes {
          display: flex;
          align-items: center;

          i {
            color: $white;
            font-size: 12px;
            padding-left: 5px;
          }
        }
      }
    }
  }
}
