.spotme-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $raleway;
}

.spotme-options {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: space-between;
  width: 800px;

  a {
    color: $persian-green;
    text-decoration: none;
  }

  a:hover {
    color: $light-green;
  }
}

.filters {
  width: 300px;
  color: $charcoal;
  background-color: $background;
  padding: 10px;
  border-radius: 5px;

  .radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10px;
    }

    .search {
      padding: 0 5px;
      font-size: 14px;
      height: 25px;
      background-color: transparent;
      border: 1px solid $charcoal;
      color: $light-green;
    }
  }

  .submit {
    color: $persian-green;
    border: none;
    background-color: $charcoal;
    font-size: 14px;
    padding: 2px 4px;
  }

  .submit:hover {
    background-color: $light-green;
  }
}

.spotme-list {
  ul {
    list-style: none;
    padding: 0;
  }
}

.spotme {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: $background;
  border-radius: 5px;
  position: relative;

  .spot-me-image {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .spotme-info {
    width: 480px;
    color: $charcoal;
    margin-left: 10px;
    margin-top: 5px;

    .answer {
      color: $light-green;
    }

    .top-row {
      margin-bottom: 5px;
      color: $light-charcoal;
      border-bottom: 1px solid $light-charcoal;
    }

    .second-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 5px;

      a {
        text-decoration: none;
        color: $light-green;
      }

      a:hover {
        color: $light-charcoal;
      }

      .date {
        display: flex;
        width: 100px;
        margin-right: 20px;
        font-size: 14px;
        font-family: sans-serif;

        p {
          color: $charcoal2;
          padding-left: 10px;
        }
      }
    }

    .third-row {
      display: flex;
      margin-bottom: 5px;

      p {
        padding-right: 15px;
      }
    }

    .fourth-row {
      p {
        margin-bottom: 5px;
      }

      .workout-types {
        display: flex;
        flex-wrap: wrap;
        color: white;
      }

      .workout-type {
        padding-right: 10px;
      }
    }

    .fifth-row {
      margin-bottom: 5px;
    }

    .sixth-row {
      margin-bottom: 5px;
      color: $light-green;
      font-size: 14px;
      font-style: italic;
    }

    .bottom-row {
      position: absolute;
      bottom: 5px;
      left: 10px;
      display: flex;
      width: 480px;

      a,
      p {
        margin-right: 10px;
        text-decoration: none;
        color: $charcoal;
        cursor: pointer;
        font-size: 14px;
      }

      a:hover,
      p:hover,
      button:hover {
        color: $light-green;
      }

      button {
        font-size: 14px;
        color: $charcoal;
        background-color: transparent;
        border: none;
      }
    }
  }
}
