.spotme-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  form {
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: $background;
    padding: 10px;

    h2 {
      color: $light-charcoal;
    }

    label {
      color: $charcoal;
    }

    input {
      margin-bottom: 5px;
      font-size: 14px;
      color: white;
      border: 1px solid $persian-green;
      background-color: transparent;
    }

    textarea {
      height: 80px;
      border: 1px solid $persian-green;
      background-color: transparent;
      color: white;
      margin-bottom: 5px;
    }

    .checkboxes {
      p {
        color: $charcoal;
      }

      .workouts {
        display: flex;
        flex-wrap: wrap;
      }

      label {
        color: $light-green;
        padding-right: 7px;
      }

      .checkbox {
        margin-right: 10px;
      }
    }

    .submit {
      width: 120px;
      margin-top: 20px;
      color: $persian-green;
      background-color: $light-charcoal;
      padding: 2px 5px;
    }

    .submit:hover {
      background-color: $light-green;
    }
  }
}
