.spotme-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotme-options {
  position: relative;
  top: -40px;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 750px;

  a {
    color: $persian-green;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }
}

.radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }

  .search {
    padding: 0 5px;
    font-size: 14px;
    height: 25px;
    background-color: transparent;
    border: 1px solid $persian-green;
    color: white;
  }
}

.submit {
  color: white;
  border: 1px solid $persian-green;
  background-color: transparent;
  font-size: 14px;
}

.spotme-list {
  ul {
    list-style: none;
    padding: 0;
  }
}

.spotme {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin-bottom: 30px;
  border: 1px solid $persian-green;
  position: relative;

  .spot-me-image {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .spotme-info {
    width: 480px;
    color: $light-green;
    margin-left: 10px;
    margin-top: 5px;

    .answer {
      color: white;
    }

    .top-row {
      margin-bottom: 5px;
      color: white;
    }

    .second-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 5px;

      .date {
        display: flex;
        width: 100px;
        margin-right: 20px;

        p {
          color: white;
          padding-left: 10px;
        }
      }
    }

    .third-row {
      display: flex;
      margin-bottom: 5px;

      p {
        padding-right: 15px;
      }
    }

    .fourth-row {
      margin-bottom: 5px;

      p {
        margin-bottom: 5px;
      }

      .workout-types {
        display: flex;
        flex-wrap: wrap;
        color: white;
      }

      .workout-type {
        padding-right: 10px;
      }
    }

    .fifth-row {
      margin-bottom: 5px;
    }

    .sixth-row {
      margin-bottom: 5px;
      color: white;
    }

    .bottom-row {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
  }
}
